* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
.developer,
.projects,
.about-container,
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.developer {
    gap: 6px;
    height: 20vh;
    width: 100%;
    background-image: url('./images/hero-2.jpg');
    /* background-size: cover; */
    background-position: center;
    background-color: #cccccc;
    color: white;
    box-shadow: 2px 2px 4px black;
    text-shadow: 1px 1px black;
}

.my-work {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.about-container,
.contact-container {
    margin: 1rem;
}

/* about and contact formatting */

.about,
.contact {
    border-radius: .5rem;
    flex: 1;
    box-shadow: 2px 2px 12px green;
}
.about {
    box-shadow: 2px 2px 12px red; 
}

.about h1,
.contact h1 {
    text-align: center;
    padding: 16px;
}
.about p {
    padding: 16px;
}


/* Card formatting */

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border-radius: .5rem;
    width: 300px;
    height: 400px;
    margin: 6px;
    box-shadow: 2px 2px 12px black;
}

.card-image {
    border-radius: .5rem .5rem 0 0;
    height: 170px;
    margin-bottom: 16px;
    background-size: cover;
}
.project-1 {
    background-image: url('./images/package-tracker.png');
}
.project-2 {
    background-image: url('./images/memory-game.png');
}
.project-3 {
    background-image: url('./images/fruit-shop.png');
}
.project-4 {
    background-image: url('./images/pomodoro-timer.png');
}

.card h3,
.card p,
.card a {
    padding: 12px;
}

.card a {
    padding: 8px 16px;
}

.card:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.link-bug {
    height: 20px;
    background-color: white;
    border-radius: .5rem;
    padding: 2px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.link-container h3 {
    flex: 2;
}


/* Thank you page format */
.thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.thank-you h1,
.thank-you h3 {
    padding-bottom: 16px;
}
.thank-you {
    text-align: center;
    box-shadow: 2px 2px 12px black;
    padding: 16px;
}


/* form styling */

form {
    padding: 16px;
    max-width: 100%;
}

button, input, select, textarea {
    border-radius: .5rem;
    border: 1px solid black;
    font-family: inherit;
    font-size: 100%;
    padding: .5rem 0;
}

input, textarea {
    width: 100%;
    margin: .5rem 0;
    padding: .5rem 0;
}

#btn-send {
    margin-top: .5rem 0;
    padding: .5rem 1rem;
    width: 100%;
}


/* footer format for space */

footer {
    height: 32px;
}

@media (min-width: 375px) {
    .developer {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .about-container,
    .contact-container,
    .contact {
        width: 300px;
    }
}

@media (min-width: 646px) {
    .developer {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .about-container,
    .contact-container,
    .contact {
        width: 620px;
    }
}

@media (prefers-color-scheme: dark) {
    body,
    textarea,
    input, 
    button
     {
        background-color: #3d3d3d;
        color: #ddddcd;
    }
  }
  
  /* @media (prefers-color-scheme: light) {
    body {
      background-color: #ddddcd;
      color: #3d3d3d;
    }
  } */