* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

main,
.developer,
.projects,
.about,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.developer {
    gap: 6px;
    height: 20vh;
    width: 100vw;
    background-image: url('./images/hero-2.jpg');
    /* background-size: cover; */
    background-position: center;
    background-color: #cccccc;
    color: white;
    box-shadow: 2px -2px 2px 4px black;
    text-shadow: 1px 1px black;
}

@media (min-width: 600px) {
    .developer {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}


.projects,
.about,
.contact  {
    /* height: 60vh; */
    width: 100vw;
    justify-content: flex-start;
    padding: 16px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    /* background-color: #264653;
    color: white; */
    width: 300px;
    height: 400px;
    margin: 6px;
    box-shadow: 2px 2px 12px black;
}

.card-image {
    height: 170px;
    margin-bottom: 16px;
    background-size: cover;
}
.project-1 {
    background-image: url('./images/package-tracker.png');
}
.project-2 {
    background-image: url('./images/memory-game.png');
}
.project-3 {
    background-image: url('./images/fruit-shop.png');
}
.project-4 {
    background-image: url('./images/pomodoro-timer.png');
}

.card h3,
.card p,
.card a {
    padding: 12px;
}

.card a {
    padding-bottom: 16px;
    text-decoration: none;
}

.card a {
    background-color: ;
    color: ;
    padding: 8px 16px;
    border-radius: 12px;
    text-align: center;
}

.card:hover {
    /* background-color: rgb(117, 32, 32);
    color: white; */
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.link-bug {
    height: 20px;
    background-color: white;
    padding: 2px;
    /* box-shadow: 2px 2px 4px pink; */
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}